---
layout: default
title: Home
mathjax: true
---

<h1> Welcome! </h1> 

<p>
This is my website where I explain to myself things I have learned. Maybe some of this will be useful for you!
</p>


<p>
Please bear with me as I figure out how to get some of my equations and images rendered correctly!
</p>

<hr>

<h3>
In the meantime, please enjoy the following collection of jokes.
</h3>

<hr>

<p>My grandfather has the heart of a lion, and a lifetime ban from the zoo</p>

<p>Two fish are in a tank. One turns to the other and asks "How do you drive this thing?"</p>

<p>I didn’t think orthopedic shoes would help, but I stand corrected.</p>

<p>I had to leave my job as a personal trainer because I wasn't strong enough to change the weights. I just submitted my too weak notice.  
</p>

<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {{ post.excerpt }}
    <hr>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->