---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  Last Updated: <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.posts %}
      <li>
        {% if post.categories == page.categories %}
          {% if post.title != page.title %}
          <h3>
            <a href="{{ post.url | relative_url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          </h3>
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
